.bigLikeNumber {
 text-align: center;
}

.bigLikeNumber:before {
    display: block;
    position: absolute;
    top: 18px;
    left: 2px;
    color: #F5F5F5;
    font: 45px/1 FontAwesome;
    content: "\f004";
    z-index: -5;
}

.bigLikeNumber h2 {
    color: #333;
    font-size: 20px;
    line-height: 45px;
    margin-bottom: 5px;
}
